<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menú</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="d-flex">
  <app-category *ngFor="let aCategory of categories" [category]="aCategory" (selectedC)="selectedCandidate(aCategory.name, $event)"></app-category>
</div>
<div class="d-flex justify-content-center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary custom-margin-alert" data-toggle="modal" data-target="#exampleModalLong" (click)="showVote()">
     Votar
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">¿Estas Seguro de tu Voto?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Recuerda!</strong> que solo puedes votar una vez.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-result [categories]="categoriesSelected">
        </app-result>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="submitVote()">Estoy Seguro</button>
      </div>
    </div>
  </div>
</div>
