<h2 class="text-capitalize text-center">{{ category.name }}</h2>
<div [class.invisible]="selected >= 0" class="alert alert-info custom-margin-alert text-center">Selecciona uno por favor</div>
<div class="d-flex justify-content-center flex-wrap">
  <app-person *ngFor="let aCandidate of category.candidates; let i = index"
    [class.selected-p]="selected == aCandidate.number" (click)="select(aCandidate.number)"
    [ngClass]="{
      'custom-big': category.candidates.length <= 3,
      'custom-normal': category.candidates.length > 3 && category.candidates.length <= 5,
      'custom-small': category.candidates.length > 5
    }" class="custom-border-p"
    [name]="aCandidate.name" [lastname]="aCandidate.lastname"
    [number]="aCandidate.number" [color]="aCandidate.color"
    [image]="aCandidate.image"></app-person>
  <app-person [class.selected-p]="selected == 0" (click)="select(0)"
   [ngClass]="{
      'custom-big': category.candidates.length <= 3 ,
      'custom-normal': category.candidates.length > 3 && category.candidates.length <= 5 ,
      'custom-small': category.candidates.length > 5
    }" class="custom-border-p"
    [name]="'Voto en blanco'" [number]="null" [color]="'#fff'" [image]="'blank_vote.svg'"></app-person>
</div>
